body {
	background-color:white;
	text-align:center;
	background-image: url(http://static2.wallpedes.com/wallpaper/blue/blue-nebula-wallpaper-space-wallpapers-and-red-wallpaper-red-and-blue-direct-hd-download-for-iphone-ipad-borders-free-naruto-mobile-3d.jpg);
}
p {
	color:black;
}

p#egg{
	color:yellow;
}
p.brandon{
	color:blue;
}

